<html>

	<head>
		<meta name="description" content="Just the html css back to form development site. ">
		<meta name="author" content="Utpal Sharma">
		<link rel="stylesheet" href="/public/css/index.css">
	</head>
	
	<body>
 
		<header>
			<div class="wrapper">
				<img class="homeicon" src="/public/img/home.png" alt="">
				<h1 class="logo"></h1>
				<nav>
					<ul class="navigation" type="none">
						<li>About Us</li>					
						<li>Products</li>					
						<li>Testimonials</li>					
						<li>Partners</li>					
						<li>Careers</li>					
						<li ><a href="/contact">Contact</a></li>					
					</ul>
				</nav>
			</div>
		</header>
		<div class="hero">
			<div class="imgborder">
				
			</div>
		</div>
		
		<section class="article">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium tempore corporis ex omnis amet quisquam, earum cum, nihil eoslorem	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid nulla repellendus vel, nemo ipsam neque? Ab optio accusantium tenetur ex culpa enim, recusandae corrupti illum, ratione aliquam quam quas rem. rem qui in cumque nesciunt. Odit, facere asperiores repellendus quibusdam beatae.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium tempore corporis ex omnis amet quisquam, earum cum, nihil eoslorem	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid nulla repellendus vel, nemo ipsam neque? Ab optio accusantium tenetur ex culpa enim, recusandae corrupti illum, ratione aliquam quam quas rem. rem qui in cumque nesciunt. Odit, facere asperiores repellendus quibusdam beatae.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium tempore corporis ex omnis amet quisquam, earum cum, nihil eoslorem	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid nulla repellendus vel, nemo ipsam neque? Ab optio accusantium tenetur ex culpa enim, recusandae corrupti illum, ratione aliquam quam quas rem. rem qui in cumque nesciunt. Odit, facere asperiores repellendus quibusdam beatae.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium tempore corporis ex omnis amet quisquam, earum cum, nihil eoslorem	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid nulla repellendus vel, nemo ipsam neque? Ab optio accusantium tenetur ex culpa enim, recusandae corrupti illum, ratione aliquam quam quas rem. rem qui in cumque nesciunt. Odit, facere asperiores repellendus quibusdam beatae.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium tempore corporis ex omnis amet quisquam, earum cum, nihil eoslorem	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid nulla repellendus vel, nemo ipsam neque? Ab optio accusantium tenetur ex culpa enim, recusandae corrupti illum, ratione aliquam quam quas rem. rem qui in cumque nesciunt. Odit, facere asperiores repellendus quibusdam beatae.</p>
		</section>

		<footer>
		<div class="container">
			<ul>
				<li>comapny</li>
				<li>program</li>
				<li>route</li>
				<li>hsdks</li>
			</ul>
			<ul>
				<li>comapny</li>
				<li>program</li>
				<li>route</li>
				<li>hsdks</li>
			</ul>
			<ul>
				<li>comapny</li>
				<li>program</li>
				<li>route</li>
				<li>hsdks</li>
			</ul>
			<ul>
				<li>comapny</li>
				<li>program</li>
				<li>route</li>
				<li>hsdks</li>
			</ul>
			<ul>
				<li>comapny</li>
				<li>program</li>
				<li>route</li>
				<li>hsdks</li>
			</ul>
			<ul>
				<li>comapny</li>
				<li>program</li>
				<li>route</li>
				<li>hsdks</li>
			</ul>
		</footer>
		</div>
		<script type="text/javascript" src="/public/js/index.js"></script>
		<<script>
			getcontact(){
				$.get('/contact');
			}
		</script>>
	</body>

</html>