<html>
		<head>
			<title>Thanks for Contacting</title>
		<style>
		h1{
			color: red;
			font-size: 48px;
			font-family: helvetica;}
		div{margin:auto;
			background-color: rgba(30,34,35,.08);
			text-align: center;
			width:400px;
			margin-top: 200px;}
		span{color:blue;}
		</style>
		</head>

		<body>
			<div class="container">	<h1>Thanks for Contating <br><span className="name"><%= obj.name %></span></h1>
</div>
		</body>
</html>